<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
	<title sec:authorize="hasRole('ROLE_ADMIN')">Admin panel</title>
	<title sec:authorize="hasRole('ROLE_USER')">User page</title>
	<meta http-equiv="Content-type" content="text/html" charset="utf-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid p-0">
	<nav class="navbar bg-dark" data-bs-theme="dark">
		<div class="container">
			<div class="navbar-text">
				<span th:text="|${authenticateduser.getEmail()} with roles: |"></span>
				<span th:each="role : ${authenticateduser.getRoles()}" th:text="|${role.getName().replaceAll('ROLE_', ' ')}|"></span>
			</div>
			<a class="navbar-brand" href="/logout">Logout</a>
		</div>
	</nav>
	<div class="container border-start px-0">
		<div class="d-flex align-items-start bg-body-tertiary vh-100">
			<div class="nav flex-column nav-pills me-3 col-2 pt-5 bg-white vh-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<button sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</button>
				<button aria-selected="false" th:attr="class=!${#authorization.expression('hasRole(''ADMIN'')')} ? 'nav-link active' : 'nav-link'" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile">User</button>
			</div>
			<div class="tab-content col-10 pt-5 px-5" id="v-pills-tabContent">
				<div sec:authorize="hasRole('ROLE_ADMIN')" class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
					<div class="h2 mb-4">Admin panel</div>
					<div>
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Users table</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">New user</button>
							</li>
						</ul>
						<div class="tab-content border" id="myTabContent">
							<div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
								<div class="h5 border p-3 m-0">All users</div>
								<div class="bg-white p-3">
									<table class="table table-striped table-hover">
										<thead>
										<tr class="border-top">
											<th class="px-3" scope="col">ID</th>
											<th scope="col">First Name</th>
											<th scope="col">Last Name</th>
											<th scope="col">Age</th>
											<th scope="col">Email</th>
											<th scope="col">Role</th>
											<th scope="col">Edit</th>
											<th scope="col">Delete</th>
										</tr>
										</thead>
										<tbody class="table-striped list-users">
										<tr style="display: none">
											<td class="px-3"></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td>
												<span></span>
											</td>
											<td>
												<button type="button" class="btn btn-success btn-sm edit-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" value="">Edit</button>
											</td>
											<td>
												<button type="button" class="btn btn-danger btn-sm delete-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" value="">Delete</button>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="1">
								<div class="h5 border p-3 m-0">Add new user</div>
								<div class="d-flex justify-content-center bg-white">
									<form th:method="POST" th:action="@{/}" th:object="${user}" class="w-50 m-5" id="create-form">
										<div class="mb-3">
											<label for="firstname_create" class="form-label d-block text-center fw-bold">First Name</label>
											<input type="text" class="form-control" name="firstName" id="firstname_create" placeholder="First Name">
										</div>
										<div class="mb-3">
											<label for="lastname_create" class="form-label d-block text-center fw-bold">Last Name</label>
											<input type="text" class="form-control" name="lastName" id="lastname_create" placeholder="Last Name">
										</div>
										<div class="mb-3">
											<label for="age_create" class="form-label d-block text-center fw-bold">Age</label>
											<input value="18" min="0" max="127" type="number" class="form-control" name="age" id="age_create" placeholder="Age">
										</div>
										<div class="mb-3">
											<label for="email_create" class="form-label d-block text-center fw-bold">Email</label>
											<div class="input-group">
												<span class="input-group-text" id="inputGroupPrepend1">@</span>
												<input type="email" class="form-control" name="email" id="email_create" placeholder="Email">
											</div>
										</div>
										<div class="mb-3">
											<label for="password_create" class="form-label d-block text-center fw-bold">Password</label>
											<input type="password" required class="form-control" name="password" id="password_create" placeholder="Password">
										</div>
										<div class=" d-block text-center fw-bold">Role</div>
										<select class="form-select" size="2" multiple required name="roles">
											<option disabled="true" hidden="true"></option>
											<option th:each="role : ${roles}"
													th:value="${role.getId()}"
													th:text="${role.getName().replaceAll('ROLE_', '')}">
											</option>
										</select>
										<div class="d-block text-center m-4">
											<button type="submit" class="btn btn-success" id="button-create_user">Add new user</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:attr="class=!${#authorization.expression('hasRole(''ADMIN'')')} ? 'tab-pane fade show active' : 'tab-pane fade'" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="1">
					<div class="h2">User information-page</div>
					<div class="h5 border p-3 m-0">About user</div>
					<div class="bg-white border p-3">
						<table class="table table-striped table-hover">
							<thead>
							<tr class="border-top">
								<th class="px-3" scope="col">ID</th>
								<th scope="col">First Name</th>
								<th scope="col">Last Name</th>
								<th scope="col">Age</th>
								<th scope="col">Email</th>
								<th scope="col">Role</th>
							</tr>
							</thead>
							<tbody class="table-striped">
							<tr>
								<td class="px-3" th:text="${authenticateduser.getId()}"></td>
								<td th:text="${authenticateduser.getFirstName()}"></td>
								<td th:text="${authenticateduser.getLastName()}"></td>
								<td th:text="${authenticateduser.getAge()}"></td>
								<td th:text="${authenticateduser.getEmail()}"></td>
								<td>
									<span th:each="role : ${authenticateduser.getRoles()}" th:text="|${role.getName().replaceAll('ROLE_', ' ')}|"></span>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--	<script sec:authorize="hasRole('ROLE_ADMIN')" type="text/javascript" th:src="@{/js/javascript.js}"></script>-->
		<script sec:authorize="hasRole('ROLE_ADMIN')" type="text/javascript">
			const requestUrl = document.location.origin + '/api/v1/users'
			const rolesUrl = document.location.origin + '/api/v1/roles'
			const listRoles = new Map()

			// Получение/отправка данных
			async function sendRequest(url, method, body = null) {
				const headers = {
					'Content-Type': 'application/json'
				}
				try {
					const response = await fetch( url, {
						method:     method,
						headers:    headers,
						body:       body
					})
					if (method === 'DELETE') {
						return await response
					}
					return await response.json()
				} catch (e) {
					console.error(e)
				}
			}

			//Загрузка ролей
			async function loadRoles(id) {
				const data = await sendRequest(rolesUrl + '/' + id, 'GET')
				let entr = Object.entries(data)
				listRoles.set(entr[0][1], entr[1][1])
			}

			// Заполнение модального окна
			async function receiveData(id, form) {
				const data = await sendRequest(requestUrl + '/' + id, 'GET')
				clearRoles(document.querySelector('#edit-form'))

				for (let [key, value] of Object.entries(data)) {
					if (key === 'roles') {
						for (let key_ of Object.entries(value)) {
							form.elements['roles'].options[key_[1]].selected = true
						}
						return
					} else {
						form.elements[key].value = value
					}
				}
			}

			//Функция инициализации таблицы пользователей
			async function init() {
				await listUsers()

				//Установка обратотчиков на кнопки Edit в таблице
				let editbutton = document.querySelectorAll('.edit-button')
				editbutton.forEach(function(item){
					/* Назначаем каждой кнопке обработчик клика */
					item.addEventListener('click', function(event) {
						let button = document.querySelector('#edit-button')
						button.setAttribute('class', 'btn btn-primary')
						button.innerHTML = 'Edit user'
						document.querySelector('#staticBackdropLabel').innerHTML = 'Edit user'
						document.querySelectorAll('.editable').forEach(function(item) {item.removeAttribute('disabled')})
						document.querySelector('#edit-form').method = 'PATCH'
						document.querySelector('[name="_method"]').value = 'PATCH'
						let userid = this.getAttribute('value')
						let form = document.querySelector('#edit-form')
						receiveData(userid, form)
					})
				})

				//Установка обратотчиков на кнопки Delete в таблице
				let deletebutton = document.querySelectorAll('.delete-button')
				deletebutton.forEach(function(item){
					item.addEventListener('click', function(event) {
						let button = document.querySelector('#edit-button')
						button.setAttribute('class', 'btn btn-danger')
						button.innerHTML = 'Delete user'
						document.querySelector('#staticBackdropLabel').innerHTML = 'Delete user'
						document.querySelectorAll('.editable').forEach(function(item) {item.setAttribute('disabled', true)})
						document.querySelector('#edit-form').method = 'DELETE'
						document.querySelector('[name="_method"]').value = 'DELETE'
						let userid = this.getAttribute('value')
						let form = document.querySelector('#edit-form')
						receiveData(userid, form)
					})
				})
			}
			document.addEventListener('DOMContentLoaded', async function() {
				init()
			})

			// init()

			//Установка обратотчиков
			document.addEventListener('DOMContentLoaded', async function() {

				// Установка 'submit' обработчика на таблицу в модальном окне
				let userFormEdit = document.querySelector('#edit-form' )
				userFormEdit.addEventListener('submit', async e => {
					e.preventDefault()
					let method = userFormEdit.getAttribute('method')

					let id = ''
					if (method === 'DELETE') {
						id = '/' + document.querySelector('#id').value
					}

					let formData = formToJson(userFormEdit)

					try {
						const data = await sendRequest(requestUrl + id, method, formData)
						init()
					} catch (e) {
						console.error(e)
					}

					document.querySelector('#close-button').click()
				})

				// Установка 'submit' обработчика на таблицу вкладки Create
				let userFormCreate = document.querySelector('#create-form', )
				userFormCreate.addEventListener('submit', async e => {
					e.preventDefault()
					let formData = formToJson(userFormCreate)

					try {
						const data = await sendRequest(requestUrl, userFormCreate.getAttribute('method'), formData)
						init()
						document.querySelector('#home-tab').click()
						clearFormCreate()
						console.log(data)
					} catch (e) {
						console.error(e)
					}
				})

			})

			//Очистка таблицы
			function clearList(tbody) {
				let n = tbody.children.length - 1
				for (let i = 0; i < n; i++) {
					tbody.children[1].remove()
				}
			}

			// Заполнение таблицы
			async function listUsers() {
				const data = await sendRequest(requestUrl, 'GET')
				let tbody = document.querySelector('.list-users')
				clearList(tbody)

				for (let row of data) {
					let tr = tbody.children[0].cloneNode(true)
					let td = tr.children

					let i = 0
					let column = Object.entries(row)
					for (let [key, value] of column) {
						if (key === 'id') {
							td[6].children[0].value = value
							td[7].children[0].value = value
						}

						if (key === 'password') {
							break
						}

						td[i].innerHTML = value
						i++
					}

					let role = ''
					let roles = Object.entries(column[6][1])
					for (let [key, value] of roles) {
						if (!listRoles.has(value)) {
							await loadRoles(value)
						}
						role = role + listRoles.get(value).substring(5) + ' '
					}

					td[5].innerHTML = role
					tr.style.display = ''
					tbody.appendChild(tr)
				}
			}

			function clearFormCreate() {
				let input = document.querySelectorAll('#create-form input')
				for (let i = 1; i < input.length; i++) {
					input[i].value = ''
				}
				clearRoles(document.querySelector('#create-form'))
			}

			function clearRoles(form) {
				let i = 0
				while (form[i].name != 'roles') {
					i++
				}
				form[i][1].selected = false
				form[i][2].selected = false
			}

			//Преобразование formData в JSON
			function formToJson(userForm) {
				const formData = new FormData(userForm)
				const normalizeValues = (key, values) => (values.length > 1 || key === 'roles') ? values : values[0]
				const object = {}

				for (const [key, value] of formData.entries()) {
					object[key] = normalizeValues(key, formData.getAll(key))
				}

				return JSON.stringify(object)
			}




		</script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Edit user</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex justify-content-center" id="modal-form">
					<form th:method="PATCH" th:action="@{/}" th:object="${user}" class="w-75" id="edit-form">
					<div class="mb-3">
						<label for="id" class="form-label d-block text-center fw-bold">ID</label>
						<input type="text" class="form-control" id="id" placeholder="ID" name="id" readonly>
					</div>
					<div class="mb-3">
						<label for="firstname" class="form-label d-block text-center fw-bold">First Name</label>
						<input type="text" class="form-control editable" id="firstname" name="firstName" placeholder="First Name">
					</div>
					<div class="mb-3">
						<label for="lastname" class="form-label d-block text-center fw-bold">Last Name</label>
						<input type="text" class="form-control editable" id="lastname" name="lastName" placeholder="Last Name">
					</div>
					<div class="mb-3">
						<label for="age" class="form-label d-block text-center fw-bold">Age</label>
						<input value="" min="0" max="127" type="number" class="form-control editable" id="age" name="age" placeholder="Age">
					</div>
					<div class="mb-3">
						<label for="email" class="form-label d-block text-center fw-bold">Email</label>
						<div class="input-group">
							<span class="input-group-text" id="inputGroupPrepend2">@</span>
							<input type="email" required class="form-control editable" id="email" name="email" placeholder="Email">
						</div>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label d-block text-center fw-bold">Password</label>
						<input type="password" class="form-control editable" id="password" name="password" placeholder="Password">
					</div>
					<div class=" d-block text-center fw-bold">Role</div>
					<select class="form-select editable" size="2" multiple name="roles" required>
						<option disabled="true" hidden="true"></option>
						<option th:each="role : ${roles}"
								th:value="${role.getId()}"
								th:text="${role.getName().replaceAll('ROLE_', '')}">
						</option>
					</select>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="close-button" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" id="edit-button" form="edit-form">Edit</button>
			</div>
		</div>
	</div>
</div>
</body>

</html>